<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chan.mapper.UserMapper">

    <!-- 회원 리스트 출력 -->
    <select id="getUserList" resultType="hashMap">
        SELECT *
        FROM hermes_user
    </select>

    <!-- 회원 정보 조회 -->
    <select id="getUserInfo" resultType="hashMap">
        SELECT id, email
        FROM hermes_user
        WHERE id = #{id}
    </select>

    <!-- 회원 상세 조회 -->
    <select id="getUserDetail" parameterType="com.chan.dto.UserInfoDto" resultType="hashMap">
        SELECT id, email, password
        FROM hermes_user
        WHERE id = #{id}
        AND email = #{email}
        AND password = #{password}
    </select>

    <insert id="insertUserInfo" parameterType="com.chan.dto.UserInfoDto">
        INSERT INTO hermes_user
        (
             id,
             email,
             password
        )
        VALUES
        (
            #{id},
            #{email},
            #{password}
        )
    </insert>

    <!-- 로그인 체크 -->
    <select id="getUserCheck" parameterType="hashMap" resultType="String">
        SELECT *
        FROM hermes_user
        WHERE id = #{id}
        AND password = #{password}
    </select>

    <!-- 회원 존재 유무 -->
    <select id="getUserCount" resultType="Integer">
        SELECT COUNT(*)
        FROM hermes_user
        WHERE id = #{id}
    </select>

    <select id="getUserIdCheck" resultType="Integer">
        SELECT COUNT(*)
        FROM hermes_user
        WHERE id = #{id}
    </select>

    <!-- 회원 패스워드 조회 -->
    <select id="getUserPassword" resultType="String">
        SELECT password
        FROM hermes_user
        WHERE id = #{id}
    </select>
</mapper>